.panelWrapper {
  /* border: 1px solid red; */
}

.panel {
  list-style: none;
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  padding: 0;
}

.panelOption {
  /* border: 1px solid green; */
  background-color: rgb(149, 149, 149);
  color: white;
  margin: 1px 0;
  cursor: pointer;
}

.panelOption:hover {
  background-color: rgb(94, 0, 202);
}
